{% extends "header.html" %}
{% block head_title %}View Details {% endblock %}
{% block body %}

<div class="container">
	<div class="row" style="background-color:#f8f8f8;padding: 20px 50px;border-radius: 2px;box-shadow: 2px 2px 2px #888">
		<h3 style="color: #404040;font-weight: 900;display: inline;">List Of All The Files</h3>
		<br><br><hr>
		<div class="col-md-10" >
		{% for file in files %}
			<div class="col-md-2" style="padding: 10px 30px ; background-color: #404040;font-weight: 900;border-radius: 4px;margin: 10px"><a href="{% url 'list-details' file %}" style="text-decoration: none;color: #fff">
				{{ file }}</a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}