<!DOCTYPE html>
<html>
<head>
<title>
	{% block head_title %}Upload CSV File {% endblock %}
</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<div class="navbar navbar-inverse">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'index' %}" >Upload File</a></li>
			<li><a href="{% url 'details' %}">Show Files</a></li>
		</ul>
	</div>
</div>
<style type="text/css">
body {
	background-color: #e0e0eb;
}
</style>

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>