{% extends "header.html" %}
{% block body %}

<div class="container">
	{% if messages %}
   		{% for message in messages %}
    		<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }} </div>
    	{% endfor %}
	{% endif %}
	<div class="row" style="background-color:#f8f8f8;padding: 20px 50px;border-radius: 2px;box-shadow: 2px 2px 2px #888">
		<h3 style="color: #404040;font-weight: 900">Upload A CSV File</h3>		
		<hr>
		<div class="col-md-10" >
			<form method="POST" action="" enctype="multipart/form-data" >
			{% csrf_token %}
				<div class="col-md-3"><label for="csvfile">Select CSV File :</label>   </div>
					<div class="col-md-6"><input type="file" name="csvfile" class="" accept=".csv">
					</div>
					<br><br>
					<hr>
				<div class="col-md-offset-9">
					<button type="submit" name="submit" class="btn btn-primary">Upload</button>
			</form>
		</div>
	</div> 
</div>


{% endblock %}