{% extends "header.html" %}
{% block head_title %}Show Data Of Files {% endblock %}
{% block body %}
<div class="container">
	<div class="row" style="background-color:#f8f8f8;padding: 50px;border-radius: 2px;box-shadow: 2px 2px 2px #ddd">
		<div class="col-md-12">	
			<a href="{% url 'details' %}"><< Back To List</a>
			<div class="col-md-4 col-md-offset-8" style="float: right;">
				<input type="text" name="q" id="search_data" value="" placeholder="Search"  class="form-control">
			</div>
			<table class="table table-striped" style="width: 100%" id='display_table'>
				<thead>
					<tr>
						{% for column in data.columns %}
							<th>{{ column.0.upper }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for value in data.data %}
					<tr>
						{% for col in value %}
							<td>{{col}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<style type="text/css">
	td , th{
		padding: 10px 15px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$("#search_data").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#display_table tbody tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>
{% endblock %}